@{
    ViewData["Title"] = "Home Page";
}
<div>
<h1>Application uses</h1>
<p>Application is dedicated for doctors, tired of writing down everything on paper or looking for digital solution.</p>
    <h2>Funcionalities</h2>
    <h3>Creation</h3>
    <p>Prescriptor allows to easily create prescriptions by few simple clicks and almost no effort.</p>
    <p>It saves all the data to the database so you won't have to worry about loosing your prescriptions.</p>
    <p>With Prescriptor you've got opportunity not only to save prescriptions, but also preserve personal data of your patients.</p>
    <h3>Managing</h3>
    <p><b>Update</b>, <b>Remove</b> and simply <b>Manage</b> stored prescriptions and patients information.</p>
    <h3>Browsing</h3>
    <p>Prescriptor makes browsing easier, letting you <b>Sort</b> and <b>Filter</b> data stored in the tables.</p>
    <h2>How To</h2>
    <h3>Create</h3>
    <p>The creation process begins with clicking "Prescriptions" or "Patient" button located on top of the website.</p>
    <p>Next, click on "Create New" hyperlink and you'll see a creation panel, where you should fill the blank spaces with proper data. Remember to create your patient data before creating prescription!</p>
    <p>After that, click "Create" button and that's it! New prescription have been added to the database and you're redirected back to table view where new data is already there.</p>
            
    <h3>Manage</h3>
    <p>If you need to edit some information, then you should head to table view and click on "Edit" hyperlink on the right side of the table of chosen row.</p>
    <p>Now, an edit panel shows up and data managing is possible. After changing the data, click "Save" button to have your data saved or "Back to List" hyperlink to leave the data unchanged.</p>
    <p>To delete unnecessary data, head to table view and choose "Delete" hyperlink of chosen row. Delete panel will show up and after clicking "Delete" button under prescription/patient information, you'll be asked if you're sure about deleting data or, in case of mistake, leaving it in untouched state.</p>
    <p>Table view contains hyperlink called "Details", which allows you to peek into full information about chosen prescription/patient and then edit or go back to table view.</p>
            
    <h3>Browse</h3>
    <p>To sort entities in a proper table, you have to click the chosen column name on top of the table, which will toggle between ascending/descending sorting.</p>
    <p>To filter entities, you need to know for example name of a drug, and write it down in searching box above the table, and click Search button. Table data will be filtered out of entities that doesn't match your query. When you decide to disable filtering, just click on "Back to Full List" hyperlink.</p>
</div>